@model MyElearningProject.DAL.Entities.DefaultFeature
@{
    ViewBag.Title = "AddDefaultFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Alan Girişi</h2>
<br />
<form method="post">
    <label>Başlık Giriniz</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br /><br />
    <label>Başlık2 Giriniz</label>
    @Html.TextBoxFor(x => x.Title2, new { @class = "form-control" })
    <br /><br />
    <label>Açıklama Giriniz</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br /><br />
    <label>Açıklama2 Giriniz</label>
    @Html.TextBoxFor(x => x.Description2, new { @class = "form-control" })
    <br /><br />
    <label>Görsel Giriniz</label>
    @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })
    <br /><br />
    <label>Görsel2 Giriniz</label>
    @Html.TextBoxFor(x => x.ImageURL2, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-primary">Alanı Kaydet</button>
</form>

